@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	font-family: 'Bruno Ace SC', sans-serif;
	line-height: 1.5;
}
a {
	color: inherit;
	display: inline-block;
	text-decoration: none;
}
img {
	vertical-align: middle;
}

.container {
	margin: 0 auto;
	max-width: 1296px;
}
.d-flex {
	display: flex;
}
.text-right {
	text-align: right;
}
.mr-24 {
	/*推1gutter*/
	margin-right: 24px;
}
.g-24 {
	gap: 24px;
}
.container h2,
.profile-content > p {
	font-size: 64px;
}
:is(.introduction-content, .about-me-content) > p {
	font-size: 24px;
}

/*outerbox*/
.nav,
.header,
.william-profile,
.footer {
	background: #000;
	color: #fff;
}
.nav {
	padding-top: 40px;
}
section:not(.contant-me) {
	padding-block: 160px;
}
.introduction {
	color: #fff;
	background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true');
}
.contant-me {
	padding-block: 96px;
	color: #fff;
	background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}
/*scroll behave*/
#contant-me {
	scroll-margin-top: 25vh;
}

.nav-list {
	justify-content: space-between;
}
.nav-list li {
	max-width: 306px;
}
.nav-list li:last-child {
	max-width: 196px;
}
.nav-list li:has(a) {
	color: hsl(0 80% 75%/ 0.8);
}

.william-profile {
	align-items: center;
}
.profile-content {
	padding-block: 72px;
}
.profile-content .profile-name {
	font-size: 128px;
	color: #00ffa3;
}
.profile-btn a {
	background: #fff;
	padding: 12px 24px;
	color: #000;
	border-radius: 32px;
}
.profile-btn a:is(:hover, :focus) {
	transition: scale 500ms;
	scale: 1.05;
	outline: 3px solid #000;
	outline-offset: -5px;
}

.introduction-photo {
	gap: 24px;
}
.introduction-content h2 {
	margin-bottom: 36px;
}
.introduction-content p {
	margin-bottom: 32px;
}

.about-me > .d-flex {
	flex-direction: row-reverse;
	justify-content: space-around;
}
.about-me-card-group {
	color: #15161d;
	flex-wrap: wrap;
	min-width: 636px;
	padding-bottom: 8px;
	margin-block: auto;
}
.about-me-content {
	max-width: 526px;
}
.about-me-content h2 {
	margin-bottom: 36px;
}
.about-me-content p {
	color: #15161d;
}

.about-me-card-group li {
	border: 1px solid #e3e3e3;
	padding: 16px;
	max-width: 306px;
	align-self: center;
	/*try css counter*/
	counter-increment: card-index;
}
/* .about-me-card-group  *:not(p) */
.about-me-card-group li > *:not(p) {
	font-size: 20px;
}
.card-index::before {
	content: '0' counter(card-index);
}

.about-me-card-group li > *:not(:last-child) {
	margin-bottom: 4px;
}

.contant-me > .d-flex {
	align-items: center;
}
.contant-me h2 {
	margin-right: 16px;
}
.social-link {
	margin-left: 113px;
	gap: 20px;
}
.social-link img {
	max-width: 162px;
	aspect-ratio: 1;
	object-fit: contain;
}
.social-link li:is(:hover, :focus) {
	animation: tada 1s;
	border-radius: 42px;
	box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9),
		0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@keyframes tada {
	0% {
		transform: scale(1);
	}
	10%,
	20% {
		transform: scale(0.9) rotate(-3deg);
	}
	30%,
	50%,
	70%,
	90% {
		transform: scale(1.05) rotate(3deg);
	}
	40%,
	60%,
	80% {
		transform: scale(1.05) rotate(-3deg);
	}
	100% {
		transform: scale(1) rotate(0);
	}
}
.my-projects h2 {
	font-size: 64px;

	padding-left: calc(((1296px / 12) + 24px) * 5);
	margin-bottom: 16px;
}
.my-projects-section > div:first-child {
	margin-bottom: 28px;
}
.my-projects-article {
	color: #15161d;
	flex-direction: column;
	justify-content: space-between;
}
.my-projects-article-btn {
	display: block;
	background: #000;
	color: #fff;
	padding: 12px 24px;
	border-radius: 32px;
	align-self: start;

	overflow: hidden;
	position: relative;
	z-index: 1;
}
.my-projects-article-btn::before {
	content: '';
	z-index: -1;
	position: absolute;
	inset: 0;
	border-radius: 32px;
	background-color: green;
	transform-origin: center left;
	transform: scaleX(0);
	transition: transform 500ms linear;
}
.my-projects-article-btn:is(:hover, :focus)::before {
	transform: scaleY(1);
}
.footer {
	padding-block: 40px;
	text-align: center;
}
